NEXT_PUBLIC_SITE_URL=https://space-invaders-brown.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_oyrdhglp
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xa6Fd7A99BF07257E023d77A94547dd91aDd31C7A
